html, body {
    font-size: 16px;
    }
p {
    font-size: 1.25em;
    color: #808285;
    font-weight: 300;
} 

a {
   color: #0097a7;
   font-weight: 400; 
} 

ul {
    list-style: none;
}
h1, h2 {
    font-weight: bold;
    color: #0097a7;
    }
    
h1 {
    font-size: 1.7rem;
    }
h2{
    font-size: 1.4em;
}

.filterLabel {
    text-align: left;
}

.joblistheading {
    text-align: center;
}

.joblistheading, .filterLabel {
    font-size: .7em;
    color:#0097a7;
    font-weight:400;
    line-height: 100%;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
}

form {
    1px solid black;
}

.collection-item a::after {
   font-family: "Material Icons";
   content: "\E254";
   display: inline-block;
   padding-left: 10px;
   vertical-align: middle;
   font-size: 1.2em;
   float: right;
}

.collection {
    overflow: hidden;
}  

.collection .collection-item {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3em;
    line-height: 2em;
}

.client.collection{
    border: 1px solid #fff;

    }
    
.client.collection .collection-item{
    background: #d0ebee;
    border: 1px solid #fff;
}

.joblist div{
  overflow: hidden;
    max-height: 50px;
    line-height: 50px; 
    border: 1px solid #fff;
}

.joblisting{
    border: 1px solid #fff;
   background:#d0ebee;
      
}

.joblisting .row {
    margin-bottom: 0;
}

.input-field.filterDrop, #min, #max {
    border: 1px solid #939598;
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 0;
}

#min, #max{
    width: 90%;
}

.filterDrop .select-wrapper input.select-dropdown {
    margin: 0 !important;
}
.filter input [type=text]{
    margin: 0 !important;
}
.filterDrop .select-wrapper input.select-dropdown {
    border: 0px;
}

.filterBtn Button, .filterStart Button {
    font-size: .8em;
    width: 97%;
    border: 0;
    border-radius: 10px;
    height: 3rem;
    box-shadow: 2px 2px 2px #888888;
}

.filterBtn Button {
    background: #e6e7e8;
    color: #808285;
}

.filterStart Button {
    background: #e65100;
    color: #fff;
}

.jobDisplay {
    padding: 15px;
    background: #fff;
    border: 1px solid #58595b;
    box-shadow: 5px 5px 5px #e6e7e8;
    margin-top: 30px;
}